---
import Page from "../layouts/Page.astro";
---

<Page title="Resource not found" 
	description="The requested resource does not exist."
	robots="noindex, nofollow">
	<div class="centeredContainer">
		<span class="centeredContent">
		<h1 class="">404</h1>
		<p>Page not found</p>
		</span>
	</div>
</Page>
