---
---

<div id="postList" class="postList siteMainMiddle w3-padding-24">
    <div class="postContainer">
        <h2>LATEST</h2>
        <hr />
        <article class="w3-padding-24">
            <a class="postLink" href="/blog/journey-into-new-web-tech/">
                <div class="w3-row">
                    <div class="w3-half">
                        <img class="postListImage u-placeholder rectangle" src="http://ghostcms.meikos.internal/content/images/2024/06/software-5.webp" alt="Journey into new Web tech" loading="lazy">
                    </div>
                    <div class="w3-half">
                        <div class="postHeader">Journey into new Web tech</div>
                        <div class="postDescription">This post outlines the newer tools like Ghost for Content Management, Astro for Static Site Generation, Vue JS, dot net core etc. It should highlight the difficulties and the victories for each step, why each step is necessary. It should outline the process for creating a Ghost theme and the</div>
                        <div class="postDate">
                            <time datetime="2024-06-08">
                                    Jun 8, 2024
                            </time>
                        </div>
                    </div>
                </div>
            </a>
        </article>

        <article class="w3-padding-24">
            <a class="postLink" href="/blog/ready-set-site-launch/">
                <div class="w3-row">
                    <div class="w3-half">
                        <img class="postListImage u-placeholder rectangle" src="http://ghostcms.meikos.internal/content/images/2024/06/start-1.jpg" alt="Ready, Set, Site Launch" loading="lazy">
                    </div>
                    <div class="w3-half">
                        <div class="postHeader">Ready, Set, Site Launch</div>
                        <div class="postDescription">My name is Mike Sanders and I formed Meikos Consulting LLC back in 2009 for an opportunity to do Corp to Corp work. It is time that it gets its own site, finally here it is.</div>
                        <div class="postDate">
                            <time datetime="2024-06-08">
                                    Jun 8, 2024
                            </time>
                        </div>
                    </div>
                </div>
            </a>
        </article>        
        
        <div class="w3-center">
            <button class="button button-secondary"
                ><a href="/blog">More Posts</a></button>
        </div>
        <hr />
    </div>
</div>
