---
import Page from "../../layouts/Page.astro";
---

<Page title="Contact Page" description="This page allows a user to contact the site owner."
	robots="index,follow" image="">
	<main class="siteMainMiddle">
		<div class="w3-display-container maxContent" id="javascriptWarning">
			<div class="w3-container w3-padding-48 w3-margin">
			  <h2>Javascript is disabled</h2>
			  <p>The browser or user agent is not supported or the browser has javascript disabled.
			  </p>
			</div>
		  </div>
		  <input type="hidden" id="clientConfig" name="clientConfig" value="##Client_Config##">
		  
		  <div id="app"></div>
		  <!-- built files will be auto injected -->
	</main>
</Page>

<style>
	
</style>